---
import Layout from "../layouts/Layout.astro";
import { BRAND } from "../branding";

const title = BRAND + " - About";
---

<Layout title={title}>
    <p></p>
    <p>SolvWorx LLC was registered with the <a href="https://www.azcc.gov">Arizona Corporation Commission</a> in February 2022.</p>
    <p>Our official address of record is at the <a href="https://9400shea.com">94 Hundred Corporate Center</a> in Scottsdale, Arizona.</p>

    <address>
        SolvWorx LLC<br>
        9375 E Shea Blvd<br>
        Suite 100<br>
        Scottsdale, AZ 85260<br>
        <a href="tel:+16026612407">+1 602 661-2407</a><br>
        <a href="mailto:joe@solvworx.com">joe@solvworx.com</a>
    </address>
</Layout>
