---
import Layout from "../layouts/Layout.astro";
import { BRAND } from "../branding";

const title = BRAND + " - About";
---

<Layout title={title}>
    <article>
        <h3>About the People</h3>
        <h4>
            <img src="/images/headshot.png" alt="[Headshot]">
             &nbsp;&nbsp; Joseph Ballard
        </h4>
        
        <p>Joe has been developing software solutions for over two decades. Before that, he worked as a Customer Engineer with IBM. He has a Bachelors in Computer Science from 
            <a href="https://www.weber.edu/east">Weber State</a>, <i>magna cum laude</i>.    
        </p>
        
        <a href="https://www.linkedin.com/in/jrballard/">
        <i class="fab fa-linkedin"></i> LinkedIn Profile
        </a>
        <br>
        <a href="mailto:joe@solvworx.com">joe@solvworx.com</a>
    </article>
    <article>
        <h3>About the Company</h3>
        <p>SolvWorx LLC was registered with the <a href="https://www.azcc.gov">Arizona Corporation Commission</a> in February 2022.
        Our official address of record is at the <a href="https://9400shea.com">94 Hundred Corporate Center</a> in Scottsdale, Arizona.</p>

        <address>
            SolvWorx LLC<br>
            9375 E Shea Blvd<br>
            Suite 100<br>
            Scottsdale, AZ 85260<br>   
        </address>
    </article>
</Layout>
