---
import Layout from "../layouts/Layout.astro";
import { BRAND } from "../branding";

const title = BRAND + " - Home";
---

<Layout title={title}>
	<p>No real content yet, still figuring things out.</p>
</Layout>
