---
import Layout from "../layouts/Layout.astro";
import { BRAND } from "../branding";

const title = BRAND + " - Home";
---

<Layout title={title}>
	<h3>Welcome to SolvWorx!</h3>
	<p>We provide custom software solutions to clients in government and business.</p>
	<p><i>"We will <b>Solv</b> it, and make sure it <b>Worx</b>!"</i></p>
</Layout>
