---
import { BRAND } from "../branding";
---

<header>
    <nav>
        <ul>
            <li><strong>{BRAND}</strong></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }   
</style>